<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ENet.Managed" version="3.0.2" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
</packages>